:root {
    --shadow: 2px 2px 5px 0px rgba(22, 48, 33, 0.3);
}

body {
    background-color: rgb(22, 48, 33);
    background-image: url("/images/vertical-leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    
body {
    background-color: rgb(22, 48, 33);
    background-image: url("/images/leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
}

.main-container {
    margin-top: 50px;
}

.light-transparent {
    background-color: rgba(250, 250, 231,.2);
}

.dark-transparent {
    background-color: rgba(22, 48, 33, 0.6);
}

.polaroid {
    transform: rotate(-1deg) translateY(-10px);
    font-family: 'Caveat', cursive;
    font-size: 1.4rem;
    line-height: 1.6rem;
    box-shadow: var(--shadow);
}

.polaroid-caption {
    height: 3.4rem;
}

aside ul, footer ul {
    list-style-type: none;
    padding-left: 0;
}

aside ul a, footer ul a {
    text-decoration: none;
}

.title-left {
    transform: translateX(2rem);
    animation: move-left 1.5s ease-in-out 1s 1 normal forwards;
}    

.title-right {
    transform: translateX(-2rem);
    animation: move-right 1.5s ease-in-out 1s 1 normal forwards;
}

.title-flower {
    transform-origin: center;
    opacity: 0;
    animation: show-flower 2s ease-in-out 1s 1 normal forwards;
}

@keyframes move-left {
    0% { transform: translateX(2rem) }
    50% { transform: translateX(-.5rem)  }
    100% { transform: translateX(0rem) }
}

@keyframes move-right {
    0% {transform: translateX(-2rem);}
    50% { transform: translateX(.5rem)  }
    100% { transform: translateX(0rem) }
}

@keyframes show-flower {
    0% {opacity: 0}
    50% {opacity: .8; transform: scale(120%);}
    100% {opacity: 1}
}

.popover-header {
    display: none;
}


.popover-body {
    background-color: rgba(250, 250, 231);
    border-radius: 5%;
}

.popover {
    border-radius: 5%;
    border: 1px solid rgb(204, 205, 204);
    box-shadow: var(--shadow);
}